Package: snoozeec2
Version: 2.2.0-0
Architecture: all
Maintainer: Matthieu Simonin <matthieu.simonin@inria.fr>
Installed-Size: 13613
Section: misc
Priority: optional
Homepage: http://snooze.inria.fr
Description: This is the EC2 API of the Snooze cloud manager.
